.text-white {
  color: var(--color-white);
}

.bg-white {
  background-color: var(--color-white);
}

.text-light-gray {
  color: var(--color-light-gray);
}

.bg-light-gray {
  background-color: var(--color-light-gray);
}

.text-grayish-blue {
  color: var(--color-grayish-blue);
}

.bg-grayish-blue {
  background-color: var(--color-grayish-blue);
}

.text-dark-blue {
  color: var(--color-dark-blue);
}

.bg-dark-blue {
  background-color: var(--color-dark-blue);
}

.text-dark {
  color: var(--color-dark);
}

.bg-dark {
  background-color: var(--color-dark);
}

.text-dark-page {
  color: var(--color-dark-page);
}

.bg-dark-page {
  background-color: var(--color-dark-page);
}

.text-positive {
  color: var(--color-positive);
}

.bg-positive {
  background-color: var(--color-positive);
}

.text-negative {
  color: var(--color-negative);
}

.bg-negative {
  background-color: var(--color-negative);
}

.text-info {
  color: var(--color-info);
}

.bg-info {
  background-color: var(--color-info);
}

.text-warning {
  color: var(--color-warning);
}

.bg-warning {
  background-color: var(--color-warning);
}
